Repository TYPO3BestPractices/tea, pull requests merged in 2024-08, with the labels that each got.

#1422 [TASK] Polish the `runTests.sh` help
  Build/Scripts/runTests.sh
Labels: documentation, cleanup

#1423 [TASK] Add missed commands to the `runTest.sh` documentation
  Build/Scripts/runTests.sh
Labels: documentation, runTests.sh

#1428 [BUGFIX] Broken rendering in docs
  Documentation/Environment.rst
Labels: bug, documentation

#1432 [TASK] Streamline the coverage folders
  .github/workflows/codecoverage.yml
  composer.json
Labels: cleanup
