Repository TYPO3BestPractices/tea, pull requests merged in 2024-05, with the labels that each got.

#1258 [TASK] Raise PHPStan to level 6
  phpstan-baseline.neon
  phpstan.neon
Labels: phpstan

#1266 [TASK] Improve the type annotations for `TeaRepository`
  Classes/Domain/Repository/TeaRepository.php
  phpstan-baseline.neon
Labels: cleanup, phpstan

#1267 [TASK] Raise PHPStan to level 8
  phpstan-baseline.neon
  phpstan.neon
Labels: phpstan

#1269 [TASK] Raise PHPStan to level 9
  phpstan-baseline.neon
  phpstan.neon
Labels: phpstan

#1270 [TASK] Narrow down a type in the controller
  Classes/Controller/FrontEndEditorController.php
  phpstan-baseline.neon
Labels: cleanup, phpstan

#1271 [TASK] Add support for Postgres 16 to `runTests.sh`
  Build/Scripts/runTests.sh
  CHANGELOG.md
Labels: enhancement, make switch to runTests.sh

#1273 [TASK] Add ci:xliff:lint to ci:static
  composer.json
Labels: cleanup

#1276 [BUGFIX] Display dbms version for functional test execution
  Build/Scripts/runTests.sh
Labels: bug, make switch to runTests.sh

#1190 [TASK] Switch the documentation to PHP-based rendering
  .github/workflows/ci.yml
  Build/Scripts/runTests.sh
  Documentation/Documentation.rst
  Documentation/Includes.rst.txt
  Documentation/Index.rst
  Documentation/Settings.cfg
  Documentation/genindex.rst
  Documentation/guides.xml
  composer.json
Labels: documentation

#1281 [BUGFIX] Display static driver info for sqlite and postgres
  Build/Scripts/runTests.sh
Labels: bug, make switch to runTests.sh

#1285 [BUGFIX] Ensure correct service waits and container cleanup
  Build/Scripts/runTests.sh
Labels: bug, make switch to runTests.sh

#1287 [TASK] Use PHP 8.3 by default in `runTests.sh`
  Build/Scripts/runTests.sh
Labels: make switch to runTests.sh

#1290 [TASK] Use only busybox compatible `find` options
  composer.json
Labels: bug, make switch to runTests.sh

#1292 [TASK] Add feedback section to readme
  README.md
Labels: documentation

#1293 [TASK] Use TYPO3 core-testing images directly
  Build/Scripts/runTests.sh
Labels: make switch to runTests.sh, task

#1294 [BUGFIX] Enhance container documentation rendering
  Build/Scripts/runTests.sh
Labels: bug, documentation, make switch to runTests.sh

#1296 [TASK] Rename the xliff script
  Build/bin/xliff-lint
  composer.json
Labels: cleanup

#1295 [TASK] Document to use WSL for tests on Windows
  Documentation/Running.rst
Labels: documentation, make switch to runTests.sh

#1031 [FEATURE] Add Rector
  .gitattributes
  composer.json
  rector.php
Labels: enhancement

#1298 [TASK] Drop obsolete options from `ext_emconf.php`
  ext_emconf.php
Labels: cleanup

#1299 [TASK] Import classes
  Configuration/Extbase/Persistence/Classes.php
  Configuration/TCA/Overrides/sys_template.php
  Configuration/TCA/Overrides/tt_content.php
  Configuration/TCA/tx_tea_domain_model_tea.php
Labels: cleanup

#1302 [TASK] Streamline `nodejs` dependency management
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .gitlab/pipeline/jobs/.default-frontend.yml
  .npmrc
  .nvmrc
  composer.json
  package-lock.json
  package.json
Labels: cleanup, dependencies, javascript, task

#1318 [BUGFIX] Specify the Node.js version for GitHub Actions
  .github/workflows/ci.yml
  package.json
Labels: bug

#1325 [TASK] Switch the license in the package.json to GPL V2
  package.json
Labels: documentation, javascript
